:root {
	--gray: #efefef;
	--light: #fff;
	--orange: #fd5503;
	--dark: #333;
	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	line-height: 1.7;
	background-color: var(--gray);
	color: var(--dark);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}
